.container {
    margin: 0 auto;
    width:  1024px;
}

.contact-header h2{
    margin: 0 auto;
    border-radius: 15px;
    width:1024;
    height: 70px;
    background-color: #2ecc71;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 25px;
}
.contact-header img{ 
    clear: both;
}

.forminfo{
}
.contactForm {
    width: 560px;
    height: auto;
    float: left;
    
}
.contactForm h3{
    text-transform: uppercase;
    color: #8a8888;
    
}
.contactForm p{
    line-height: 25px;
    float: left;
}

.contactForm form{
    float: left; 
}
.contactForm input{
    width: 350px;
    height: 45px;
     border: 1px solid grey;
    margin-top:10px;
}
.contactInfo{
    width: 254px;
    height: auto;
    float: left;
}
.main {
    border-bottom: 1px solid #dadada;
    padding:30px 0px;
}

.nav {
    padding:30px 0;
}
.nav ul {
    list-style: none;
}
.nav ul li{
    float: left;
}
.nav ul li a {
    color: #737373;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Novecentowide';
    text-transform: uppercase;
    margin-right:29px;
}
.nav ul li a.active {
    color: #2ecc71;
}
.nav ul li a:hover {
    color: #2ecc71;
}

.overlay h3,p{
    padding: 10px;
    text-align: center;
    color: #8a8888;

}

.callout{
    
    border-radius: 10px;
    width: 1024px;
    height: 100px;
    color: #efefef;
    background-color: #322f2f;
}

.callout h3{
    text-transform: uppercase;
    padding-left: 160px;
    padding-top: 26px;
    color:white;
    float:left;
     
}
.callout button{
    padding: 10px;
    margin: 35px;
    float:right;
	border:none;
	color:white;
	border-radius:12px;
    text-transform: capitalize;
    background-color: #2ecc71;

}
.footer{
    clear: both;
}
.footer p{
    float: left;
}
.footer h2{
    border-radius: 10px;
    box-shadow:1px 10px 30px grey;
    padding:10px;
    background-color:#2ecc71;
    float: right;
    color: white;
}
